body {
  width: 1160px;
}
.block1 {
  display: flex;
  width: 1160px;
  height: 380px;
  justify-content: space-between;
}
.block1-left {
  width: 60%;
}
.block1-right {
  width: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
}

.join-us {
  /* height: 48%; */
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  color: white;
  font-size: medium;
  background-image: url('../../assets/img/coffee_social.png');
}
.our-favorite-items {
  /* height: 48%; */
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  font-size: medium;
  background-image: url('../../assets/img/popular.webp');
}
